<!DOCTYPE html>
<html>
  <head>
    <title>RootDirectory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <script>
      // images go here!!!
      window.splash = '<%= image_url('splash.jpg') %>'
      window.petPlaceholder = '<%= image_url('pet-2.jpg') %>'
      window.plantShelf = '<%= image_url('scroll1.png') %>'
      window.splashPots = '<%= image_url('splash-pots.jpg') %>'

    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
