<!DOCTYPE html>
<html>
  <head>
    <title>RootDirectory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <meta property="og:image" content="screenshot.jpg" />

    <%# <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap" rel="stylesheet"> %>
      <%# thinner version of font above^^ %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <script>
      // images go here!!!
      window.splash = '<%= image_url('splash.jpg') %>'
      window.petPlaceholder = '<%= image_url('pet-2.jpg') %>'
      window.plantShelf = '<%= image_url('scroll1.png') %>'
      window.splashPots = '<%= image_url('splash-pots.jpg') %>'

    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
